version: 1.7.0.{build}
image: Visual Studio 2019
branches:
  only:
  - master
skip_tags: true
platform: Any CPU
configuration: Release
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'
before_build:
- ps: dotnet --version
- ps: dotnet restore
build:
  project: SQLite.CodeFirst.sln
  parallel: true
  verbosity: normal
artifacts:
- path: SQLite.CodeFirst\bin
  name: Assemblies
- path: SQLite.CodeFirst\bin\Release\*.nupkg
  name: NuPkg
deploy:
# Encrypt with https://ci.appveyor.com/tools/encrypt
- provider: NuGet
  api_key:
    secure: /mFKbp4C8bazwSgH5C6JakY8dZEffGRekipyvAUCkYJ+sfQhtsLDrKGek1oTrbAx
  on:
    branch: master
- provider: GitHub
  tag: v$(appveyor_build_version)
  release: v$(appveyor_build_version)
  description: https://www.nuget.org/packages/SQLite.CodeFirst/
  auth_token:
    secure: e3cqaFy9PzI9TAdZJBIDy97Bfbwa7j0EXe2yw7Ev9aJXK0Q+3mnULqb1VU4P7BWR
  artifact: Assemblies,NuPkg
  draft: true
  on:
    branch: master